<section class="container">
    <div class="section-header">
        <i class="fa fa-user"></i> My Account
    </div>
    <hr>
    <div class="row">
        <section class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="accCtrl.isActive('account')"><a href="#" ng-click="accCtrl.setActive('account')">Account Settings</a></li>
                <!-- <li ng-class="accCtrl.isActive('profile')"><a href="#" ng-click="accCtrl.setActive('profile')">Profile Settings</a></li>
                <li ng-class="accCtrl.isActive('delete')"><a href="#" ng-click="accCtrl.setActive('delete')">Delete Account</a></li> -->
            </ul>
            <div class="well well-sm">More settings coming with additional features!</div>
        </section>
        <section class="col-md-9">
            <div ng-show="accCtrl.active == 'account'">
                <div class="row">
                    <form class="col-md-12 form-horizontal" ng-controller="accountSettingsController as accSett" ng-submit="accSett.submit()">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label"><strong>Username</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" value="{{accCtrl.user.username}}" title="You can't change your username. Yet." disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label"><strong>Email Address</strong></label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="email" value="{{accCtrl.user.email}}" title="Sorry, we can't allow users to change their email address." disabled>
                                    <span class="input-group-btn" ng-if="accCtrl.user.verified"><button class="btn btn-success" type="button" disabled>Email Verified!</button></span>
                                    <span class="input-group-btn" ng-if="!accCtrl.user.verified"><button class="btn btn-warning" type="button" ng-click="accSett.verify(accCtrl.user.email)" ng-disabled="accSett.verifySuccess">Verify Email</button></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="alert alert-warning" role="alert" ng-if="!accCtrl.user.verified">
                                    <strong>Your email is not verified!</strong> You will not have access to most of Table Tome's features until you have verified your email.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="alert alert-danger" role="alert" ng-if="accSett.verifyErr">
                                    {{accSett.verifyErr}}
                                </div>
                                <div class="alert alert-success" role="alert" ng-if="accSett.verifySuccess">
                                    {{accSett.verifySuccess}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label"><strong>Change Password</strong></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="New Password" ng-model="accSett.accData.password" pattern=".{8,}" maxlength="30" title="Your password must be between eight and 30 characters long.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <input type="password" class="form-control" id="password2" ng-model="accSett.passcheck" placeholder="New Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currPassword" class="col-sm-3 control-label"><strong>Current Password</strong></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="currPassword" ng-model="accSett.password" placeholder="Current Password" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="well">
                                    In order to change any of your account information you must provide your current password.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="alert alert-danger" role="alert" ng-if="accSett.err">
                                    <strong>{{accSett.err}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button style="width:100%" type="submit" class="btn btn-lg btn-success">
                                    <span ng-if="!accSett.processing"><strong>Update Account Information</strong></span>
                                    <span ng-if="accSett.processing"><i class="fa fa-spinner fa-pulse"></i></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div ng-show="accCtrl.active == 'profile'">
                Profile settings.
            </div>
            <div ng-show="accCtrl.active == 'delete'">
                Delete account.
            </div> -->
        </section>
    </div>
</section>
