<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Table Tome</h1>
        <p>Table Tome is an entire Dungeons &amp; Dragons toolbox at your fingertips. We aim to streamline gameplay by providing quick spell and class look up, easy character sheet development, and more.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/spellbook" role="button">Open the Tome</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Goals of the Tome</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Get new players acquainted with the game faster.</h2>
            <p>As a new player, it takes time to understand all of the different roles of Dungeons and Dragons. It takes countless hours of thumbing through spellbooks to get a grasp of the gameplay. By providing an easy way to quickly look up components of the game, we hope to get new people playing and having fun at a faster pace.</p>
        </div>
        <div class="col-md-4">
            <h2>Find new ways to play your game.</h2>
            <p>Look up custom game components, such as spellbooks, player classes, and storylines, created by other users. Implement them into your own game, or post your own works to be used by the community!</p>
        </div>
        <div class="col-md-4">
            <h2>Streamline gameplay.</h2>
            <p>By lessening the time it takes to do things such as looking up spells and updating character info, you spend more time doing what you love: playing. We hope to provide users a faster paced Dungeons &amp; Dragons experience, to keep you on the edge of your seat and having fun.</p>
        </div>
    </div>
    <div class="page-header">
        <h1>What it has</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>A preliminary spellbook</h2>
            <p>We have currently implemented the basic spellbook, provided for free by Wizards of the Coast. This can be accessed by anyone, by simply clicking the 'spellbook' tab at the top of the screen. </p>
        </div>
        <div class="col-md-6">
            <h2>Easy search and lookup</h2>
            <p>Our database allows lookup based on class, level, and school. Easily combine different paramaters to find the spells that you are looking for.</p>
        </div>
    </div>
    <div class="page-header">
        <h1>Where it's going</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Full 5th edition support</h2>
            <p>Pending contact with Wizards of the Coast, we are working on implementing a system to access the entire paid spellbook online. If we can work with Wizards of the Coast to verify ownership of the physical spellbook, we can allow you to access all spells, classes, and content from the 5th edition spellbook here, at the touch of your fingertips.</p>
        </div>
        <div class="col-md-4">
            <h2>Custom Spellbook Design</h2>
            <p>Veterans of the game love to personalize and taylor the game to themselves. We want to allow for the creation and sharing of these personalized spellbooks, classes and more.</p>
        </div>
        <div class="col-md-4">
            <h2>User profiles and content</h2>
            <p>Create an account to share your own content, find new content to use yourself, and more. We want to build a friendly community for the purpose of sharing gameplay ideas, in order to enhance the gameplay experiences of everyone.</p>
        </div>
    </div>
    <div class="page-header">
        <h1>And More!</h1>
    </div>
	<div class="row">
		<div class="col-md-6">
			<p class ="text-center"> We have many ideas for the expansion of this site, and we are looking forward to working on getting those ideas implemented.  If you are interested in checking out how the development is coming along in the future, click here to be added to our mailing list. </p>
		</div>
		<div class="col-md-6">
			<form class="form-inline">
				<div class="form-group">
					<label for="InputEmail">Email</label>
					<input type="email" class="form-control" id="InputEmail" placeholder="Email">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			
		</div>
	</div>
</div>
