<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome, to Table Tome</h1>
        <p class="text-center">Table Tome is a Dungeons &amp; Dragons toolbox at your fingertips. We aim to streamline gameplay by providing rapid access to information.</p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg" href="/spellbook" role="button">Open the Tome</a>
        </p>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-line-chart"></i> Raising Accessibility</h2>
                <p class="text-justify">Dungeons &amp; Dragons features a complex rule set, developed over the course of 40 years. It is multifaceted, and takes dedication to master. Tome brings pieces of the Dungeons &amp; Dragons rule set into a comfortable and easy to navigate format.</p>
            </div>
            <div class="col-md-6">
                <h2><i class="fa fa-bolt"></i> Faster than Flipping</h2>
                <p class="text-justify">The Official Player's Handbook features 300+ content dense pages. Spells alone spread accross 91; The growing list of official companion rule sets only increases this page count. By reformatting and reorganizing this wealth of arcane knowledge, players can spend less time with their noses' in the book, and more time with their heads' in the game.</p>
            </div>
        </div>
    </div>
</section>
<aside class="image-bg-fixed-height"></aside>
<section>
    <div class="container">
        <div class="section-header">
            <h1>At Higher Levels <small>&emsp;coming soon</small></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>All Content Included</h3>
                <p class="text-justify">Pending contact with Wizards of the Coast, should a user possess an Official Player's Handbook, Tome will provide access to the entire collection of Dungeons &amp; Dragons spells. Due to copyright limitations, Tome cannot reproduce content outside of the publicly released rule sets.</p>
            </div>
            <div class="col-md-6">
                <h3>Sharing is Caring</h3>
                <p class="text-justify">While loose leaf paper can get the job done, Tome keeps all of your custom content in one, univerally accessible location. Tome will allow an inspired player to format and organize their ideas for both personal and community use.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="section-header">
            <h1><i class="fa fa-magic"></i> Arcane Updates</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="text-justify">We have many ideas for the expansion of Table Tome, and are looking forward to implementing these in the future. If you are interested in receiving updates, sign up for our newsletter here.</p>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="example@email.com">
                    <span class="input-group-btn">
        			<button class="btn btn-default" type="button"><i class="fa fa-envelope"></i> Subscribe</button>
     			</span>
                </div>
            </div>
        </div>
    </div>
</section>
