<header class="image-bg-success-header">
    <h1 class="text-center image-header-text">
        Forgot your Username or Password?
    </h1>
</header>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Username Retrieval</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            Simply provide us with the email that is linked to your account and we'll send you an email containing your username.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" ng-submit="remindCtrl.username()" ng-if="!remindCtrl.usernameSuccess">
                            <div class="form-group">
                                <label class="control-label col-sm-2 col-xs-12">Email</label>
                                <div class="col-sm-6 col-xs-8">
                                    <input class="form-control" type="email" ng-model="remindCtrl.username.email" placeholder="Email" required>
                                </div>
                                <div class="col-sm-4 col-xs-4">
                                    <button style="width:100%" type="submit" class="btn btn-default">Remind Me</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="remindCtrl.usernameErr">{{remindCtrl.usernameErr}}</div>
                        <div class="alert alert-success" role="alert" ng-if="remindCtrl.usernameSuccess">{{remindCtrl.usernameSuccess}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">Password Reset</h2>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            You're going to have to reset your password if you forgot it. Give us your account's email and username and we'll send you an email with a random password so you can log in and change it back to what you want.
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <form class="form-horizontal" ng-submit="remindCtrl.password()" ng-if="!remindCtrl.passwordSuccess">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-2">Email</label>
                                <div class="col-md-9 col-sm-10">
                                    <input class="form-control" type="email" ng-model="remindCtrl.password.email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-2 col-xs-12">Username</label>
                                <div class="col-md-5 col-sm-6 col-xs-8">
                                    <input class="form-control" type="text" ng-model="remindCtrl.password.username" placeholder="Username" required>
                                </div>
                                <div class="col-sm-4 col-xs-4">
                                    <button style="width:100%" type="submit" class="btn btn-default">Reset Me</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="remindCtrl.passwordErr">{{remindCtrl.passwordErr}}</div>
                        <div class="alert alert-success" role="alert" ng-if="remindCtrl.passwordSuccess">{{remindCtrl.passwordSuccess}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
