<header class="image-bg-spellbook-header">
    <h1 class="text-center image-header-text"><i class="fa fa-magic"></i> Spellbook</h1>
</header>
<div class="container" ng-controller="mainController as main">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar" role="spell_list" ng-if="main.loggedIn">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#list-filter-collapse"><span class="sr-only">Toggle Spell Lists</span><i class="fa fa-bars fa-lg"></i></button>
                        <b1 class="navbar-brand">Spell Lists</b1>
                    </div>
                    <div class="collapse navbar-collapse" id="list-filter-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <p class="navbar-text"><em><small>Spell List:</small></em></p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Spells <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <input type="radio" id="allspells" ng-click="">
                                        <label for="allspells">All Spells</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="create">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Spell List Name">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success" title="Create spell list"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <nav class="navbar" role="filter">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spell-filter-collapse"><span class="sr-only">Toggle Filtering</span><i class="fa fa-bars fa-lg"></i></button>
                        <b1 class="navbar-brand">Filtering</b1>
                    </div>
                    <div class="collapse navbar-collapse" id="spell-filter-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <p class="navbar-text"><em><small>Levels:</small></em></p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Levels <span class="caret"></span></a>
                                <ul class="dropdown-menu noclose">
                                    <li>
                                        <input type="checkbox" id="clearlevels" ng-click="console.log('clicking')" checked>
                                        <label for="clear">All Levels</label>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="cantrip" ng-click="spellCtrl.includeLevel(0)">
                                        <label for="cantrip">Cantrip</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl1" ng-click="spellCtrl.includeLevel(1)">
                                        <label for="lvl1">Level 1</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl2" ng-click="spellCtrl.includeLevel(2)">
                                        <label for="lvl2">Level 2</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl3" ng-click="spellCtrl.includeLevel(3)">
                                        <label for="lvl3">Level 3</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl4" ng-click="spellCtrl.includeLevel(4)">
                                        <label for="lvl4">Level 4</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl5" ng-click="spellCtrl.includeLevel(5)">
                                        <label for="lvl5">Level 5</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl6" ng-click="spellCtrl.includeLevel(6)">
                                        <label for="lvl6">Level 6</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl7" ng-click="spellCtrl.includeLevel(7)">
                                        <label for="lvl7">Level 7</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl8" ng-click="spellCtrl.includeLevel(8)">
                                        <label for="lvl8">Level 8</label>
                                    </li>
                                    <li>
                                        <input class="level-filter" type="checkbox" id="lvl9" ng-click="spellCtrl.includeLevel(9)">
                                        <label for="lvl9">Level 9</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="navbar-text"><em><small>Classes:</small></em>
                                </p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Classes <span class="caret"></span></a>
                                <ul class="dropdown-menu noclose">
                                    <li>
                                        <input type="checkbox" id="clearclasses" ng-click="spellCtrl.clearClassFilter()" checked>
                                        <label for="clear">All Classes</label>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <input type="checkbox" id="bard" ng-click="spellCtrl.includeClass('Bard')">
                                        <label for="bard">Bard</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="cleric" ng-click="spellCtrl.includeClass('Cleric')">
                                        <label for="cleric">Cleric</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="druid" ng-click="spellCtrl.includeClass('Druid')">
                                        <label for="druid">Druid</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="paladin" ng-click="spellCtrl.includeClass('Paladin')">
                                        <label for="paladin">Paladin</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="ranger" ng-click="spellCtrl.includeClass('Ranger')">
                                        <label for="ranger">Ranger</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="sorcerer" ng-click="spellCtrl.includeClass('Sorcerer')">
                                        <label for="sorcerer">Sorcerer</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="warlock" ng-click="spellCtrl.includeClass('Warlock')">
                                        <label for="warlock">Warlock</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="wizard" ng-click="spellCtrl.includeClass('Wizard')">
                                        <label for="wizard">Wizard</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="navbar-text"><em><small>Schools:</small></em>
                                </p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Schools<s></s><span class="caret"></span></a>
                                <ul class="dropdown-menu noclose">
                                    <li>
                                        <input type="checkbox" id="clearschools" ng-click="spellCtrl.clearSchoolFilter()" checked>
                                        <label for="clear">All Schools</label>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <input type="checkbox" id="abjuration" ng-click="spellCtrl.includeSchool('Abjuration')">
                                        <label for="abjuration">Abjuration</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="conjuration" ng-click="spellCtrl.includeSchool('Conjuration')">
                                        <label for="conjuration">Conjuration</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="divination" ng-click="spellCtrl.includeSchool('Divination')">
                                        <label for="divination">Divination</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="enchantment" ng-click="spellCtrl.includeSchool('Enchantment')">
                                        <label for="enchantment">Enchantment</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="evocation" ng-click="spellCtrl.includeSchool('Evocation')">
                                        <label for="evocation">Evocation</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="illusion" ng-click="spellCtrl.includeSchool('Illusion')">
                                        <label for="illusion">Illusion</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="necromancy" ng-click="spellCtrl.includeSchool('Necromancy')">
                                        <label for="necromancy">Necromancy</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="transmutation" ng-click="spellCtrl.includeSchool('Transmutation')">
                                        <label for="transmutation">Transmutation</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <p class="navbar-text"><em><small>Sources:</small></em>
                                </p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Sources<s></s><span class="caret"></span></a>
                                <ul class="dropdown-menu noclose">
                                    <li>
                                        <input type="checkbox" id="clearsources" ng-click="spellCtrl.clearSourceFilter()" checked>
                                        <label for="clear">All Sources</label>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Official Documents</li>
                                    <li>
                                        <input type="checkbox" id="pbr" ng-click="spellCtrl.includeSource('Basic Rules')">
                                        <label for="pbr">Basic Rules</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="phb" ng-click="spellCtrl.includeSource('Player\'s Handbook')">
                                        <label for="phb">Player's Handbook</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="eepc" ng-click="spellCtrl.includeSource('Elemental Evil Player\'s Companion')">
                                        <label for="eepc">Elemental Evil</label>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Tome Certified Documents</li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="reset">
                            <button class="btn btn-warning" title="Reset filters"><i class="fa fa-refresh"></i></button>
                        </form>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group input-group">
                                <input type="text" class="form-control" placeholder="Search" ng-model="search">
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="spellCtrl.predicate='name'; spellCtrl.reverse=!spellCtrl.reverse">Spell&emsp;<i class="fa fa-sort-alpha-asc" ng-if="spellCtrl.predicate=='name' && spellCtrl.reverse==false"></i><i class="fa fa-sort-alpha-desc" ng-if="spellCtrl.predicate=='name' && spellCtrl.reverse==true"></i></a></th>
                            <th><a href="" ng-click="spellCtrl.predicate='level'; spellCtrl.reverse=!spellCtrl.reverse">Level&emsp;<i class="fa fa-sort-numeric-asc" ng-if="spellCtrl.predicate=='level' && spellCtrl.reverse==false"></i>
                            <i class="fa fa-sort-numeric-desc" ng-if="spellCtrl.predicate=='level' && spellCtrl.reverse==true"></i></a></th>
                            <th><a href="" ng-click="spellCtrl.predicate='school'; spellCtrl.reverse=!spellCtrl.reverse">School&emsp;<i class="fa fa-sort-alpha-asc" ng-if="spellCtrl.predicate=='school' && spellCtrl.reverse==false"></i><i class="fa fa-sort-alpha-desc" ng-if="spellCtrl.predicate=='school' && spellCtrl.reverse==true"></i></a></th>
                            <th>Classes</th>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink">
                        <tr ng-repeat="spell in spellCtrl.items | filter:search | filter:spellCtrl.levelFilter | filter:spellCtrl.classFilter | filter:spellCtrl.schoolFilter | filter:spellCtrl.sourceFilter | orderBy:spellCtrl.predicate:spellCtrl.reverse">
                            <td><a href ng-click="spellCtrl.setSpell(spell)" data-toggle="modal" data-target="#spellModal">{{spell.name}}</a></td>
                            <td ng-switch on="spell.level">
                                <p ng-switch-when=0>Cantrip</p>
                                <p ng-switch-when=1>{{spell.level}}<small>st</small> Level</p>
                                <p ng-switch-when=2>{{spell.level}}<small>nd</small> Level</p>
                                <p ng-switch-when=3>{{spell.level}}<small>rd</small> Level</p>
                                <p ng-switch-default>{{spell.level}}<small>th</small> Level</p>
                            </td>
                            <td>{{spell.school}}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li ng-repeat="class in spell.classes | orderBy:class">{{class}}</li>
                                </ul>
                            </td>
                            <!-- <td>{{spell.castingTime}}</td>
                                <td>{{spell.range}}</td>
                                <td>{{spell.duration}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="spellModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; </span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{spellCtrl.modalSpell.name | uppercase}}&emsp;
                        <small ng-if="spellCtrl.modalSpell.level == 0"><i class="fa fa-bar-chart"></i> Cantrip</small>
                        <small ng-if="spellCtrl.modalSpell.level == 1"><i class="fa fa-bar-chart"></i> {{spellCtrl.modalSpell.level}}st Level</small>
                        <small ng-if="spellCtrl.modalSpell.level == 2"><i class="fa fa-bar-chart"></i> {{spellCtrl.modalSpell.level}}nd Level</small>
                        <small ng-if="spellCtrl.modalSpell.level == 3"><i class="fa fa-bar-chart"></i> {{spellCtrl.modalSpell.level}}rd Level</small>
                        <small ng-if="spellCtrl.modalSpell.level > 3"><i class="fa fa-bar-chart"></i> {{spellCtrl.modalSpell.level}}th Level</small>
                        <small>&emsp;<i class="fa fa-university"></i> School of {{spellCtrl.modalSpell.school}}</small><small ng-if="spellCtrl.modalSpell.ritual">, Ritual</small></h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Classes</th>
                                    <th>Casting Time</th>
                                    <th>Range</th>
                                    <th>Components</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="class in spellCtrl.modalSpell.classes | orderBy:class">{{class}}</li>
                                        </ul>
                                    </td>
                                    <td>{{spellCtrl.modalSpell.castingTime}}</td>
                                    <td>{{spellCtrl.modalSpell.range}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-if="spellCtrl.modalSpell.verbal">Verbal</li>
                                            <li ng-if="spellCtrl.modalSpell.somatic">Somatic</li>
                                            <li ng-if="spellCtrl.modalSpell.material.has">Material: <em>{{spellCtrl.modalSpell.material.items}}</em></li>
                                        </ul>
                                    </td>
                                    <td>{{spellCtrl.modalSpell.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="well">
                        <p ng-repeat="paragraph in spellCtrl.modalSpell.description">
                            <strong>{{paragraph.title}}</strong> {{paragraph.text}}
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="book in spellCtrl.modalSpell.books" ng-switch on="book.book">
                            <!-- Display when link to basic rules -->
                            <span ng-switch-when="Basic Rules"><a href="http://media.wizards.com/2014/downloads/dnd/PlayerDnDBasicRules_v0.2.pdf" target="_blank">{{book.book}}</a></span>
                            <span class="badge" ng-switch-when="Basic Rules"><a class="book-page-link" href="http://media.wizards.com/2014/downloads/dnd/PlayerDnDBasicRules_v0.2.pdf#page={{book.page}}" target="_blank">{{book.page}}</a></span>
                            <!-- Display when link to EE player's companion -->
                            <span ng-switch-when="Elemental Evil Player's Companion"><a href="http://media.wizards.com/2015/downloads/dnd/EE_PlayersCompanion.pdf" target="_blank">{{book.book}}</a></span>
                            <span class="badge" ng-switch-when="Elemental Evil Player's Companion"><a class="book-page-link" href="http://media.wizards.com/2015/downloads/dnd/EE_PlayersCompanion.pdf#page={{book.page}}" target="_blank">{{book.page}}</a></span>
                            <!-- Display when no link to pdf -->
                            <span ng-switch-default>{{book.book}}</span>
                            <span class="badge" ng-switch-default>{{book.page}}</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" ng-if="main.loggedIn">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Save to List
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown">
                                <li><a href="#">Dropdown link</a></li>
                                <li><a href="#">Dropdown link</a></li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
