<header class="image-bg-failure-header">
    <h1 class="text-center image-header-text image-header-text-lg">
		Oh No!
	</h1>
</header>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="text-center">Something went wrong when subscribing to our mailing list. Please try again later.</h3>
                <hr>
                <h3 class="text-center">If the error persists, please contact us by using the link at the bottom of the page.</h3>
                <hr>
                <p class="text-center"><a class="btn btn-success btn-lg" href="/">Return to the Tome.</a></p>
            </div>
        </div>
    </div>
</div>
