/* HEADER 
===================== */

body {
    margin-top: 45px;
}

.image-header-text {
    color: white;
    text-shadow: 0px 0px 5px black;
}

.home-header {
    font-size: 400%;
}

header .navbar {
    border-radius: 0;
}
/* NGANIMATE
====================== */
/* show and hide */

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}
/* BOOK PAGE LINKS
====================== */
/* for modal link to basic rules etc */

.book-page-link {
    color: white;
    text-decoration: none;
}

.book-page-link:hover {
    color: white;
    text-decoration: underline;
}

.book-page-link:visited {
    color: white;
    text-decoration: none;
}
/* STICKY FOOTER
====================== */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 80px;
    background-color: #f9f9f9;
}

.footer p {
    margin: 20px 0;
}
/* FULL WIDTH IMAGES
====================== */

.image-bg-home-header,
.image-bg-home-break,
.image-bg-spellbook-header {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-home-header {
    background: url('../img/ToDKeyArt2-resized-cropped.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-home-break {
    background: url('../img/ToDKeyArt3-cropped.jpg') no-repeat center center scroll;
    height: 300px;
    margin: 50px 0;
}

.image-bg-spellbook-header {
    background: url('../img/DnD_DMG_Art-cropped-resized.jpg') no-repeat center center scroll;
    padding: 20px 0;
    margin-bottom: 30px;
}

.img-center {
    margin: 0 auto;
}

section {
    padding: 25px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}
