/* HEADER 
===================== */
body {
    margin-top: 45px;
}
#home-header h1 {
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 400%;
}
header .navbar {
    border-radius: 0;
}
/* NGANIMATE
====================== */
/* show and hide */

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}
/* BOOK PAGE LINKS
====================== */
/* for modal link to basic rules etc */

.book-page-link {
    color: white;
    text-decoration: none;
}

.book-page-link:hover {
    color: white;
    text-decoration: underline;
}

.book-page-link:visited {
    color: white;
    text-decoration: none;
}
/* STICKY FOOTER
====================== */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: #f5f5f5;
}

.footer p {
    margin: 20px 0;
}
/* FULL WIDTH IMAGES
====================== */

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
    background: url('../img/home-header.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url('../img/home-img.jpg') no-repeat center center scroll;
    height: 300px;
    margin: 50px 0;
}

.img-center {
    margin: 0 auto;
}

section {
    padding: 25px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}
