/* HEADER 
===================== */
header .navbar 		{ 
	border-radius:0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* BOOK PAGE LINKS
====================== */
/* for modal link to basic rules etc */
.book-page-link {
    color: white;
    text-decoration: none;
}
.book-page-link:hover {
    color: white;
    text-decoration: underline;
}
.book-page-link:visited {
    color: white;
    text-decoration: none;
}